Client/Connected Services/WebServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArhitektureV3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArhitektureV3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="tns:userType" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="userType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="referent" />
      <xs:enumeration value="profesor" />
      <xs:enumeration value="student" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="userType" nillable="true" type="tns:userType" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="idStudent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSubject" type="xs:int" />
      <xs:element minOccurs="0" name="izvajalec" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
</xs:schema>