Client/Connected Services/WebServiceClient/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63356/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63356/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63356/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArhitektureV3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsFromSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsFromSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsFromSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsFromSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjectsFromStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsFromStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjectsFromStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsFromStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBiggestSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBiggestSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBiggestSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBiggestSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLongestName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLongestName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLongestName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLongestNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAverageNameLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageNameLength" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAverageNameLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageNameLengthResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSubjects" message="tns:IService1_GetSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSubjectsResponse" message="tns:IService1_GetSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsFromSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudentsFromSubject" message="tns:IService1_GetStudentsFromSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsFromSubjectResponse" message="tns:IService1_GetStudentsFromSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsFromStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSubjectsFromStudent" message="tns:IService1_GetSubjectsFromStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSubjectsFromStudentResponse" message="tns:IService1_GetSubjectsFromStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudent" message="tns:IService1_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentResponse" message="tns:IService1_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBiggestSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBiggestSubject" message="tns:IService1_GetBiggestSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBiggestSubjectResponse" message="tns:IService1_GetBiggestSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLongestName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLongestName" message="tns:IService1_GetLongestName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLongestNameResponse" message="tns:IService1_GetLongestName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAverageNameLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAverageNameLength" message="tns:IService1_GetAverageNameLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAverageNameLengthResponse" message="tns:IService1_GetAverageNameLength_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsFromSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudentsFromSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsFromStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSubjectsFromStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBiggestSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBiggestSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLongestName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLongestName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAverageNameLength">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAverageNameLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63356/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>